@import (reference)'fonts.less';


.collections{
	width: 360px;
	margin: 0 auto;
	display: block;
	.collection-card{
		background:url(../../imgs/collection.png);
		width: 100%;
		max-width: 540px;
		height: 322px;
		position: relative;
		.arrow{
			top:30px;
			left: 10px;
			position: absolute;
		}
		.cart{
			position: absolute;
			top: 30px;
			right: 10px;
		}
	}

	.curve-div{
		width: 360px;
		height: 40px;
		border-top-left-radius:60%;
    border-top-right-radius:60%;
    background: #fff;
    position: relative;
    bottom: 40px;
    .brand-image{
    	position: absolute;
    	left: 0;
    	right: 0;
    	display: block;
    	width: 50px;
    	height: 50px;
    	top:-25px;
    	margin: 0 auto;
    }
    
	}

	.txt-area{
		margin-top: -35px;
		p{
    	text-align: center;
    }
    .collection-txt{
    	font-size: 20px;
    	color:rgb(77,78,101);
    	padding:  0 0  5px 0;
    	margin: 0;
    	.Montserrat-Regular;
    }
    .timeStamp{
    	.Montserrat-Light;
    	font-size: 14px;
    	color:rgb(65,67,76);
    	margin: 0;
    }
    .btn-row{
    	display: flex;
    	align-items: center;
    	justify-content: space-around;
    	.Montserrat-Light;
    	font-size: 13px;
    	margin:20px 0;
    	color:rgb(65,67,76);
    	p{
    		padding: 10px 20px;
    		border-radius: 3px;
    	}
    	.follow-btn{
    		border: 1px solid rgb(25,179,185);
    		color: rgb(25,179,185);
    	}
    }
	}

	.prod-collection{
		background:rgb(216,216,216);
		padding: 10px 0 0 10px;
		display: flex;
		flex-wrap: wrap;
		> div{
				background: #fff;
				border-radius: 5px;
				margin:0 10px 10px 0;
				text-align: center;
				box-sizing: border-box;
				width: 165px;
				display: inline-block;
				padding: 5px 5px 0 5px;
				img{
					width: 128px;
					height: 234px;
				}
				.prod-info{
					display: flex;
					padding:10px 0 5px 0;
					text-align: left;
					align-items: center;
					.img1{
						width: 25px;
						height: 25px;
						border-radius: 3px;
					}
					.img2{
						width: 18px;
						height: 18px;
					}
					p{
						font-size:12px;
						color: rgb(71,71,71);
						.Montserrat-Light;
						margin:0 23px 1px 7px;
					}
				}
			}
		.mix-match{
			height: 150px;
			padding: 9px 5px;
			.Montserrat-Regular;
			background:rgb(21,184,156);
			color: #fff;
			p{
				padding: 5px;
			}
		}
	}
}
