@import (reference)'fonts.less';
.fify-container{
	width: 100%;
	max-width: 360px;
	border: 1px solid #666;
	margin: 0 auto;
	background-color: #c3d1d3;
	overflow: hidden;
	padding: 20px 0;
	.chat{
		width: auto;
		max-width: 270px;
		box-sizing: border-box;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;	
		margin:10px 7px 0 7px;
		p{
			margin: 0 8px;
			.Montserrat-Light;
			font-size: 14px;
			line-height: 1.5;
			padding: 10px;
			color: #333;
		}
	}
	.chat.other{
		float: left;
		background: #f2f5f6;
	}

	.chat.self{
		float:right;
		background: #0eefbf;
	}
	.prod-detail{
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
		text-align: center;
		box-sizing: border-box;
		padding: 5px 5px 0 5px;
		img{
			width: 208px;
			height: 314px;
		}
		.prod-info{
			display: flex;
			padding:10px 0 5px 0;
			text-align: left;
			align-items: center;
			.img1{
				width: 50px;
				height: 50px;
				border-radius: 3px;
			}
			p{
				font-size:14px;
				color: rgb(71,71,71);
				.Montserrat-Light;
				margin:0 23px 1px 7px;
				padding: 0;
			}
		}
	}
	
}