@import (reference)'fonts.less';

.container{
		width: 360px;
		display: block;
		margin: 0 auto;
	.prod-info{	
		position: relative;
		.bag-img{
			position: absolute;
			right: 20px;
		}
		.prod-img{
			background:url(../../imgs/product-img.jpeg);
			width: 234px;
			height: 400px;
			display: block;
			margin: 20px auto 0 auto;
			position: relative;
			div{
				position: absolute;
				bottom: 20px;
				left: 36%;
			}
		}
		.back-arrow{
			position: absolute;
			left: 20px;
			top: 0;
		}
		.share{
			position: absolute;
			right: 20px;
			bottom: 20px;
		}
	}
	
	.prod-detail{
		padding: 0 0 7px 10px;
		display: flex;
		border-bottom: 1px solid #ccc;
		.prod-icon{
			img{
				width: 40pt;
				height: 40pt;
			}
		}
		.prod-name{
			width: 100%;
			position: relative;
			p{
				margin: 5px 10px;
			}
			.name{
				.Montserrat-Light;
				font-size: 11pt;
				color: rgb(65,67,76);
				margin: 0 0 0 10px;
			}
			.price{
				.Montserrat-Light;
				color: #333;
				font-size: 11pt;
				.Montserrat-Regular;
			}
			.cut-price{
				color: rgb(155,155,155);
				font-size: 9pt;
				.Montserrat-Light;
				padding: 0 0 0 8px;
			}
			.off-percent{
				color: #E61818;
				font-size: 9pt;
				font-weight: bold;
				.Montserrat-Light;
			}
			.wish-icon{
				position: absolute;
				right: 20px;
				top:10px;
			}
			.only{
				color: #E61818;
				font-size: 11pt;
				.Montserrat-Light;
			}
		}
	}

	.curve-div{
		width: 360px;
		height: 30px;
		border-top-left-radius:50%;
    border-top-right-radius:50%;
    background: #fff;
	}
	
	.delivery{
		padding: 0 0 0 10px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ccc;
		.fast-txt{
			color: #333;
			font-size: 11pt;
			margin: 15px 45px 15px 15px;
			.Montserrat-Regular;
		}
		.pincode{
			font-size: 9pt;
			margin: 15px 20px 15px 0;
			color: rgb(51,178,193);
			.Montserrat-Regular;
		}
	}
	.size{
		padding: 0 0 15px 10px;
		.pick-size{
			display: flex;
			align-items: center;
			.pickTxt{
				color: #333;
				font-size: 11pt;
				margin: 15px 45px 15px 15px;
				.Montserrat-Regular;
			}
		}
		.size-box{
			display: flex;
			div{
				width:30pt;
				height:30pt;
				border: 1px solid rgb(77,78,101);
				border-radius: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 10pt;
				color: rgb(77,78,101);
				margin: 0 13px 0 0;
				.Montserrat-Light;
			}
		}
	}

	.buy-btn{
		color: #fff;
		background: rgb(51,178,193);
		.Montserrat-Bold;
		font-size: 11pt;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		padding: 15px 0;
		border-radius: 5px;
		margin: 8px 5px;
		border-bottom: 1px solid #ccc;
	}
	.style-note{
		background: rgb(216,216,216);
		padding: 7px;
		.style-menu{
			background: #fff;
			border-radius: 5px;
			ul{
				margin: 0;
				padding: 0 16px;
				border-bottom: 1px solid #ccc;
				.note{
					color: rgb(238,71,141);
					display: inline-block;
					.Montserrat-Regular;
					padding: 10px 0;
					border-bottom: 4px solid rgb(238,71,141);
					font-size: 11pt;
					margin-right: 20px;
				}
				.desc{
					display: inline-block;
					.Montserrat-Light;
					padding: 10px 0;
					font-size: 11pt;
					color: rgb(155,155,155);
				}
			}
			p{
				padding: 10px 17px;
				margin: 0;
				.Montserrat-Light;
				font-size: 10pt;
				color: rgb(153,155,158);
				line-height: 1.5;
			}
		}

		.delivery-option{
			margin: 10px 0;
			background: #fff;
			border-radius: 5px;
			.delivery-head{
				display: flex;
				align-items: center;
				padding: 0 10px;
				border-bottom: 1px solid #ccc;
				position: relative;
				p{
					.Montserrat-Regular;
					padding: 0 10px;
					color: #333;
					font-size: 11pt;
					margin: 10px 0;
				}
				.arrow{
					position: absolute;
					right: 25px;
					top:13px;
				}
			}
			.delivery-desc{
				padding: 0 10px;
				.Montserrat-Light;
				font-size: 10pt;
				.store{
					font-size: 11pt;
					display: flex;
					align-items: center;
					p{
						margin: 10px;
						font-size: 10pt;
						padding: 0;
					}
				}
				p{
					margin: 0;
					padding: 0 0 5px 5px;
					span{
						color: rgb(153,155,158);
					}
				}
				.address{
					color: rgb(153,155,158);
				}
				.view-all{
					color: #33b2c1;
					padding: 5px 5px 10px 5px;
					.Montserrat-Regular;
				}
			}
		}

		.you-like{
			.Montserrat-Regular;
			font-size: 11pt;
			text-align: center;
			color: rgb(155,155,155);
		}
	}

	.suggestions{
		.prod-suggestions{
			padding-left: 8px;
			display: flex;
			background: #d8d8d8;
			flex-wrap: wrap;
			> div{
				background: #fff;
				border-radius: 5px;
				margin:0 8px 8px 0;
				text-align: center;
				box-sizing: border-box;
				padding: 5px 5px 0 5px;
				flex:1;
				img{
					width: 128px;
					height: 234px;
				}
				.prod-info{
					display: flex;
					padding:10px 0 5px 0;
					text-align: left;
					align-items: center;
					.img1{
						width: 25px;
						height: 25px;
						border-radius: 3px;
					}
					.img2{
						width: 18px;
						height: 18px;
					}
					p{
						font-size:12px;
						color: rgb(71,71,71);
						.Montserrat-Light;
						margin:0 23px 1px 7px;
					}
				}
			}
		}
	}
}