@import (reference)'fonts.less';

.login-container{
	/* background-image: url(../imgs/LandingBG.png); */
	border: 1px solid #ccc;
	background-repeat: no-repeat;
	width: 360px;
	margin:0 auto;
	text-align: center;
	.fynd-logo{
		margin:30px 0 0 0;
	}
	.txt1{
		font-size: 14px;
		.Montserrat-Light;
		margin: 10px;
		color: #333;
		text-transform: uppercase;
	}
	.txt2{
		font-size: 16px;
		.Montserrat-Regular;
		margin: 10px;
		color: #333;
		text-transform: uppercase;
		margin:10px;		
		margin-bottom: 50px;
	}

	input[type="submit"],input[type="password"], input[type="text"],button{
		width: 300px;
		border: none;
		outline: none;
		user-select:none;
		padding: 15px;
		box-sizing: border-box;
		.Montserrat-Regular;
		border-radius: 5px;
		font-size: 14px;
		color: #fff;
		cursor: pointer;
	}
	button{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;	
		margin:0 auto;
		background: rgb(59,87,157);
		img{
			margin-right: 20px;
		}
	}
	input[type="password"], input[type="text"]{
		border-bottom: 1px solid #ccc;
		padding: 10px;
		color: #666;
		font-size: 14px;
		width: 275px;
		margin:10px 5px;
		border-radius: 0px;
		.Montserrat-Light;
		cursor: initial;
	}
	.eye-icon{
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 45px;
		}

	input[type="submit"].login{
		background: #33B2C1;
		text-transform: uppercase;
		margin:30px 0 50px 0;
	}
	.orTxt{
		.Montserrat-Bold;
		font-size: 16px;
		color: #333;
	}
	.inputs{
		display: flex;
		justify-content: center;
		position: relative;
	}
}